In [15]:
with open('./18-Naive-Bayes-and-NLP/One.txt') as mytext:
    words_one=mytext.read().lower().split()
    uni_words_one=set(words_one)

In [16]:
words_one

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [17]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [18]:
with open('./18-Naive-Bayes-and-NLP/Two.txt') as mytext:
    words_two=mytext.read().lower().split()
    uni_words_two=set(words_two)

In [19]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [22]:
all_uni_words=set()
all_uni_words.update(uni_words_one)

In [23]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [24]:
all_uni_words.update(uni_words_two)

In [25]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [32]:
full_vocab= dict()
i=0
for word in all_uni_words:
    full_vocab[word]=i
    i=i+1

In [33]:
full_vocab

{'dogs': 0,
 'this': 1,
 'fun': 2,
 'a': 3,
 'water': 4,
 'popular': 5,
 'catching': 6,
 'canine': 7,
 'about': 8,
 'waves': 9,
 'story': 10,
 'furry': 11,
 'are': 12,
 'sport': 13,
 'is': 14,
 'surfing': 15,
 'pets': 16,
 'our': 17,
 'animals': 18}

In [54]:
one_freq=[0]*len(full_vocab)
two_freq=[0]*len(full_vocab)
all_words=['']*len(full_vocab)

In [38]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [39]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [40]:
with open('./18-Naive-Bayes-and-NLP/One.txt') as f:
    one_text=f.read().lower().split()

In [63]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind]=one_freq[word_ind]+1

In [64]:
one_freq

[2, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1]

In [43]:
with open('./18-Naive-Bayes-and-NLP/Two.txt') as g:
    two_text=g.read().lower().split()

In [66]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind]=two_freq[word_ind]+1

In [67]:
two_freq

[0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 3, 2, 0, 0, 0]

In [55]:

for word in full_vocab:
    word_ind= full_vocab[word]
    all_words[word_ind]=word

In [56]:
all_words

['dogs',
 'this',
 'fun',
 'a',
 'water',
 'popular',
 'catching',
 'canine',
 'about',
 'waves',
 'story',
 'furry',
 'are',
 'sport',
 'is',
 'surfing',
 'pets',
 'our',
 'animals']

In [57]:
import pandas as pd

In [69]:
bow=pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [70]:
bow

,dogs,this,fun,a,water,popular,catching,canine,about,waves,story,furry,are,sport,is,surfing,pets,our,animals
0,2,1,0,1,0,0,0,1,1,0,1,1,1,0,1,0,1,1,1
1,0,1,1,1,1,1,1,0,1,1,1,0,0,1,3,2,0,0,0