In [2]:
import numpy as np
import pandas as pd

In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\bravo15\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bravo15\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\bravo15\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine

In [6]:
temp_db = create_engine('sqlite:///:memory:')

In [7]:
df=pd.DataFrame(np.random.randint(0, 100, size=(4,4)), columns=['a','b','c','d'])

In [8]:
df.to_sql(name = 'new_table', con=temp_db)# can use index=False

4

In [13]:
df.to_sql(name = 'new_table', con=temp_db)

ValueError: Table 'new_table' already exists.

In [9]:
#df.to_sql(name = 'new_table', con=temp_db, if_exist=)

In [10]:
pd.read_sql(sql='new_table',con=temp_db)

   index   a   b   c   d
0      0   4  90  64  41
1      1  14   2  13  14
2      2   0  10  84  46
3      3  54   5  96  22

In [11]:
pd.read_sql_query(sql="Select a, c FROM new_table", con=temp_db)

    a   c
0   4  64
1  14  13
2   0  84
3  54  96

In [13]:
Newengine = create_engine(
   # 'postgresql+C://Users\\BRAVO15\\Desktop\\postgres:password@localhost/test_db',   
    'postgresql://username:password@localhost:5432/test_db',
    isolation_level = "REPEATABLE READ"
)
#engine = create_engine('postgresql://username:password@localhost:5432/test_db')
#pg8000://scott:tiger@localhost/test,
#postgresql+psycopg2://user:password@host:port/dbname[?key=value&key=value...]

In [14]:
Newengine

Engine(postgresql://username:***@localhost:5432/test_db)

In [16]:
import psycopg2

In [55]:
dbname = 'demo'
user = 'postgres'
password = 'password'
host = 'localhost'  # or your IP address if PostgreSQL is hosted on a different machine
port = '5432'
db2=psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

In [56]:
db2

In [60]:
cursor = db2.cursor()

    # Query to fetch all tables from the current schema
cursor.execute("SELECT * FROM bookings.tickets")
# Fetch all rows from the cursor into a list of tuples
data = cursor.fetchall()
    
    # Get the column names from the cursor description
columns = [desc[0] for desc in cursor.description]
    
    # Create a Pandas DataFrame from the fetched data and columns
df = pd.DataFrame(data, columns=columns)

In [61]:
df

,ticket_no,book_ref,passenger_id,passenger_name,contact_data
0,0005432000987,06B046,8149 604011,VALERIY TIKHONOV,{'phone': '+70127117011'}
1,0005432000988,06B046,8499 420203,EVGENIYA ALEKSEEVA,{'phone': '+70378089255'}
2,0005432000989,E170C3,1011 752484,ARTUR GERASIMOV,{'phone': '+70760429203'}
3,0005432000990,E170C3,4849 400049,ALINA VOLKOVA,{'email': 'volkova.alina_03101973@postgrespro....
4,0005432000991,F313DD,6615 976589,MAKSIM ZHUKOV,"{'email': 'm-zhukov061972@postgrespro.ru', 'ph..."
...,...,...,...,...,...
366728,0005435999869,D730BA,0474 690760,IRINA SIDOROVA,{'phone': '+70598511747'}
366729,0005435999870,D730BA,6535 751108,MARIYA LAZAREVA,{'phone': '+70858052627'}
366730,0005435999871,A1AD46,1596 156448,MAKSIM SERGEEV,"{'email': 'm-sergeev111963@postgrespro.ru', 'p..."
366731,0005435999872,7B6A53,9374 822707,NURIYA PETROVA,"{'email': 'petrova-n_051973@postgrespro.ru', '..."
366732,0005435999873,7B6A53,7380 075822,PAVEL ROMANOV,"{'email': 'p-romanov_021979@postgrespro.ru', '..."

In [62]:
for desc in cursor.description:
    print(desc)

Column(name='ticket_no', type_code=1042)
Column(name='book_ref', type_code=1042)
Column(name='passenger_id', type_code=1043)
Column(name='passenger_name', type_code=25)
Column(name='contact_data', type_code=3802)