In [7]:
import numpy as np
import pandas as pd

In [2]:
email = 'march@email.com'

In [11]:
email.split('@')

['march', 'email.com']

In [13]:
email.isdigit()

False

In [17]:
'5a'.isdigit()

False

In [6]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [7]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [8]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [9]:
email.upper()

'MARCH@EMAIL.COM'

In [18]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [19]:
tech_finance=["GOOG,APPLE,AMZN", "JPN,BAC,GS"]

In [20]:
len(tech_finance)

2

In [21]:
tickers=pd.Series(tech_finance)

In [32]:
tickers.str.split(',').str[0]#[0][0]

0    GOOG
1     JPN
dtype: object

In [24]:
tech="GOOG,APPLE,AMZN"

In [26]:
tech.split(',')[0]

'GOOG'

In [35]:
tickers.str.split(',',expand=True)

      0      1     2
0  GOOG  APPLE  AMZN
1   JPN    BAC    GS

In [8]:
messy_names = pd.Series(["andrew  ", "bo;bo", "  claire  "])

In [37]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [39]:
messy_names[0]

'andrew  '

In [45]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [5]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [9]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [10]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object

In [11]:
import timeit 
  
# code snippet to be executed only once 
setup = '''
import pandas as pd
import numpy as np
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name
'''
  
# code snippet whose execution time is to be measured 
stmt_pandas_str = ''' 
messy_names.str.replace(";","").str.strip().str.capitalize()
'''

stmt_pandas_apply = '''
messy_names.apply(cleanup)
'''

stmt_pandas_vectorize='''
np.vectorize(cleanup)(messy_names)
'''

In [12]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_str, 
                    number = 10000)

3.1731948000378907

In [13]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_apply, 
                    number = 10000)

0.523848099866882

In [14]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_vectorize, 
                    number = 10000)

0.39674209989607334